<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Khanh's Blog</h1>
  <h3>My first rails Application for CoderShool</h3>

  <%= render @articles %>

  <br>
  <%= link_to 'New Article', new_article_path %>
</div>

